body{
  background-color: rgb(59, 40, 110);
}
.ChooseBtn {
  background:none;
  border:none;
  outline:none;
  cursor:pointer;
  font-size:2rem;
  transition: 100ms;
}
.ChooseBtn:hover {
  transform: scale(2);
}
